body{
   background-color: rgb(255, 255, 255);
}
ul{
    list-style: none;
}
#casa{
    margin-left: -29px;
}
#add{
    background: url(./img/add.png);
    width: 45px;
    height: 45px;
    position: absolute;
    top: 89%;
    left: 80%;
    border: none;
    cursor: pointer;
}
#frase-principal{
    position: absolute;
    text-align: center;
    top: 42%;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    padding: 1%;
    margin-right: 1%;
}
#home-pic img{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 29%;
    left: 37%;
}
#menu{
    background: url(./img/signs.png) no-repeat;
    height: 38px;
    width: 38px;
    position: absolute;
    left: 5%;
    top: 2%;
    border: none;
    cursor: pointer;
}
#config{
    background: url(./img/shapes-and-symbols.png)no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 2%;
    border: none;
    cursor: pointer;
}

